<div class="my-3">
  <h2>Promise</h2>
<p>{{promiseVal}}</p>
  <!-- Promise
  1. async
  2. Return Single Value
  - resolve(yes)
  -reject(No)
In Angular we can use either Promises or Observables.
 By default the Angular Http service returns an Observable.
  To prove this, hover the mouse over the get() method of the Http 
  service in employee.service.ts file. Notice from the intellisense, 
  that it returns Observable<Response>


<br>===============<br>
  Observable

  1.  async or sync
  2. Return Stream of values
 0--------------0------------0 -->

 
</div>
