<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="my-3">
  <h2>Map</h2>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex-01
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
          <strong>MAP </strong> 'Video' + data
        </p>
        <br>
        <p>Messages <strong class="text-success">{{msg1}}</strong></p>
      </strong>
    </div>
        <div class="col-md-4">
      <strong>Ex-01
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
          <strong>MAP </strong> Map Data
        </p>
        <br>
          <p>Messages <strong class="text-success">{{msg2}}</strong></p>
      </strong>
    </div>

    <div class="col-md-4">
      <strong>Ex-01
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
          <strong>MAP </strong> Map Object Data
        </p>
        <br>
        <p>Data coming here...........</p>
      </strong>
    </div>

  </div>
</div>
